{% extends 'base.html' %}
{% load static %}
{% block title %}
    All Comments
{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    {% include 'sidebar.html' %}
    {% include 'message.html' %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>All Comments</h1>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <form class="d-flex" role="search" method="GET">
                        {% csrf_token %}
                        {% for field in search_form %}
                            {{ field }}
                            {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                        {% endfor %}

                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">All Comments</h5>
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="text-center">Author</th>
                                    <th scope="col" class="text-center">Comments</th>
                                    <th scope="col" class="text-center">In Response To</th>
                                    <th scope="col" class="text-center">Submitted On</th>
                                        <th scope="col" class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for comment in page_obj %}
                                    <tr>
                                        <th scope="row">{{ comment.id }}</th>
                                        <td class="text-center">{{ comment.user }}</td>
                                        <td class="text-center">{{ comment.comment }}</td>
                                        <td class="text-center">{{ comment.post.title }}</td>
                                        <td class="text-center">{{ comment.updated_on }}</td>
                                            <td class="text-center">
                                                <p class="d-inline-flex gap-1">
                                                    {% if comment.user == user %}
                                                    <a href="{% url 'update-comment' comment.id %}"
                                                       class="btn btn-sm btn-warning"
                                                       role="button">Update</a>
                                                    {% endif %}
                                                    <a href="{% url 'delete-comment' comment.id %}"
                                                       class="btn btn-sm btn-danger"
                                                       role="button">Delete</a>
                                                </p>
                                            </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.previous_page_number }}&search_query={{ search_query }}">Previous</a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.number }}">Page {{ page_obj.number }}
                                        of {{ page_obj.paginator.num_pages }}</a></li>
                                    {% if page_obj.has_next %}
                                        {% if not search_query %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ page_obj.next_page_number }}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ page_obj.next_page_number }}&search_query={{ search_query }}">Next</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}