{% extends 'base.html' %}
{% load static %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <div class="col-sm-4 mx-auto text-center">
        <h1 class='text-center'>Reset Password</h1>
        <form class='form-outline' action="" method='POST' novalidate>
            {% csrf_token %}
            {% for field in form %}
                <b>{{ field.label_tag }}</b> <br>
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
{% endblock content %}