{% extends 'base.html' %}
{% load static %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Password set</h5>
                    <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}